#about {
    background-color: #54908D;
}

#perfilResumen{
    text-align: justify;
}

p {
    color: black;
}

span {
    color: black;
}

#nombreExperiencia{
    color: black;
}

#fecha{
    color: black;
}

.col-sm-6 {
    color: black;
}

#div_testimonio{
    background-color: #579054;
}

#cuadro_testimonio{
    background-color: #905457;
    color: black;
}